<aside class="sidebar">
	<div class="sidebar-container">
		<div class="sidebar-header">
			Сводки
		</div>
		<nav class="menu">
			<ul class="nav metismenu">
				<li routerLinkActive="active">
					<a [routerLink]="['/system', dir, 'fruit']"> <i class="fa fa-building-o"></i> Сбор фруктов </a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="['/system', dir, 'vegetable']"> <i class="fa fa-flash"></i> Сбор овощей </a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="['/system', dir, 'seedling']"> <i class="fa fa-archive"></i> Саженцы </a>
				</li>

			</ul>
		</nav>
	</div>
</aside>
